<%- include('./partials/navbar.ejs') %>

<h1>Products</h1><br><br>

<table style="width:80%" border="1">
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Type</th>
      <th>Stock</th>
      <th>Buy Now</th>
    </tr>
        <% products.forEach(el => { %>
            <tr>
                <td> <%= el.id %> </td>
                <td> <%= el.name %> </td>
                <td> <%= formatPrice(el.price) %> </td>
                <td> <%= el.type %> </td>
                <td> <%= el.stock %> </td>
                <td>
                    <form action="/products" method="POST">
                        <button input type="hidden" name="id" value="<%= el.id %>">buy now!</button>
                    </form>
                </td>
            </tr>
           <% }) %>
  </table>

<%- include('./partials/bottom.ejs') %>